# <center>Testing Data.py Class</center>
---

In [1]:
import data
import pandas as pd

rawData = data.Data(filters='taxnodes:Technology|Information Technology|Artificial Intelligence|Assistive Technologies')

### Tags

In [2]:
rawData.getAllTags()

                 id                           tags
0     news:255C6772               speech synthesis
1     news:255C6772       text-to-speech converter
2     news:255C6772  optical character recognition
3     news:255C6772        artificial intelligence
4     news:255C6772    ai text-to-speech converter
...             ...                            ...
6768  news:0EF78929   panasonic reveal exoskeleton
6769  news:0EF78929                     activelink
6770  news:0EF78929                physical stress
6771  news:0EF78929                    exoskeleton
6772  news:0EF78929                      panasonic

[6773 rows x 2 columns]

### Cdid

In [3]:
rawData.getAllIds()

0            news:255C6772
1            news:9CB90142
2      technology:750F8D2B
3            news:FEBFA77E
4            news:089FB49F
              ...
593          news:99808CB9
594          news:32A3EDC0
595          news:3C215FAA
596          news:D66D96E0
597          news:0EF78929
Name: cdid, Length: 598, dtype: object

### TaxNodes
use a proper data structure (map)

In [4]:
rawData.getAllTaxNodes()

                 id                                           tax-node
0     news:255C6772  Technology|Information Technology|Artificial I...
1     news:255C6772  Technology|Information Technology|Artificial I...
2     news:255C6772  Technology|Information Technology|Artificial I...
3     news:255C6772  Technology|Information Technology|Artificial I...
4     news:255C6772                  Technology|Information Technology
...             ...                                                ...
6838  news:0EF78929  Technology|Information Technology|Artificial I...
6839  news:0EF78929                  Technology|Information Technology
6840  news:0EF78929  Technology|Information Technology|Interfaces|I...
6841  news:0EF78929       Technology|Information Technology|Interfaces
6842  news:0EF78929  Technology|Information Technology|Artificial I...

[6843 rows x 2 columns]

### Dates

In [6]:
rawData.getAllDates()

                      id              modified
0          news:255C6772  2022-07-20T10:12:51Z
1          news:9CB90142  2022-07-10T14:43:43Z
2    technology:750F8D2B  2022-06-28T20:00:34Z
3          news:FEBFA77E  2022-06-28T04:00:57Z
4          news:089FB49F  2022-06-27T19:41:55Z
..                   ...                   ...
593        news:99808CB9  2016-03-29T19:45:15Z
594        news:32A3EDC0  2016-03-29T07:58:40Z
595        news:3C215FAA  2016-03-26T15:40:58Z
596        news:D66D96E0  2016-03-20T13:01:55Z
597        news:0EF78929  2016-03-20T12:55:19Z

[598 rows x 2 columns]

### Authors

In [7]:
rawData.getAllAuthorsRaw()

                      id                     authors
0      arxivorg:8BA8C730               Imran, Alishb
1      arxivorg:8BA8C730             Escobar, Willia
2      arxivorg:8BA8C730              Barez, Freidoo
3      arxivorg:34B4E108               Ivaldi, Seren
4      arxivorg:34B4E108             Maurice, Paulin
5      arxivorg:34B4E108                Gomes, Walde
6      arxivorg:34B4E108                Theurel, Jea
7      arxivorg:34B4E108                Wioland, Liê
8      arxivorg:34B4E108  Atain-Kouadio, Jean-Jacque
9      arxivorg:34B4E108             Claudon, Lauren
10     arxivorg:34B4E108                   Hani, Hin
11     arxivorg:34B4E108             Kimmoun, Antoin
12     arxivorg:34B4E108            Sellal, Jean-Mar
13     arxivorg:34B4E108                  Levy, Brun
14     arxivorg:34B4E108                Paysant, Jea
15     arxivorg:34B4E108             Malikov, Sergue
16     arxivorg:34B4E108               Chenuel, Brun
17     arxivorg:34B4E108             Settembre, Nicl
18  conferences:B6B40215      Gondal, Muhammad Walee
19  conferences:B6B40215             Wuthrich, Manue
20  conferences:B6B40215         Miladinovic, Djordj
21  conferences:B6B40215         Locatello, Francesc
22  conferences:B6B40215               Breidt, Marti
23  conferences:B6B40215           Volchkov, Valenti
24  conferences:B6B40215                   Akpo, Joe
25  conferences:B6B40215              Bachem, Olivie
26  conferences:B6B40215          Schölkopf, Bernhar
27  conferences:B6B40215                Bauer, Stefa
28  conferences:DAEFC153               Pathak, Deepa
29  conferences:DAEFC153              Lu, Christophe
30  conferences:DAEFC153              Darrell, Trevo
31  conferences:DAEFC153               Isola, Philli
32  conferences:DAEFC153             Efros, Alexei A
33  conferences:250410B2            Gibiansky, Andre
34  conferences:250410B2                 Arik, Serca
35  conferences:250410B2              Diamos, Gregor
36  conferences:250410B2                 Miller, Joh
37  conferences:250410B2                 Peng, Kaina
38  conferences:250410B2                    Ping, We
39  conferences:250410B2             Raiman, Jonatha
40  conferences:250410B2                  Zhou, Yanq
41     arxivorg:68AE891A                Ishwarya, M
42     arxivorg:68AE891A      Cherukuri, Aswani Kuma

### Title

In [8]:
rawData.getAllTitle()

                      id                                              title
0          news:255C6772  Get a lifetime subscription to an AI text-to-s...
1          news:9CB90142  This AI powered text-to-speech tool makes voic...
2    technology:750F8D2B  SpaceX's Starship Super Heavy rocket, which is...
3          news:FEBFA77E  Brain-machine interface helped a man with para...
4          news:089FB49F  How Machine Learning-Enabled Prosthetic Limbs ...
..                   ...                                                ...
593        news:99808CB9  Twitter adds image descriptions to help the vi...
594        news:32A3EDC0            Amputee 'wasted' cash on prosthetic leg
595        news:3C215FAA           Myo wearable used to control prosthetics
596        news:D66D96E0           An Exoskeleton Spine Brace for Scoliosis
597        news:0EF78929  \n\tPanasonic reveals exoskeletons that allow ...

[598 rows x 2 columns]

In [9]:
plot_data = rawData.getPlotDataByDate(rawData.getAllTags(), 'artificial intelligence')
plot_data

         date  occurrences                   target
0  2016-03-31            5  artificial intelligence
1  2016-04-30           13  artificial intelligence
2  2016-05-31            9  artificial intelligence
3  2016-06-30           18  artificial intelligence
4  2016-07-31            8  artificial intelligence
..        ...          ...                      ...
72 2022-03-31            4  artificial intelligence
73 2022-04-30            5  artificial intelligence
74 2022-05-31            5  artificial intelligence
75 2022-06-30            9  artificial intelligence
76 2022-07-31            2  artificial intelligence

[77 rows x 3 columns]

In [16]:
type(plot_data['occurrences'].sum())

pandas.core.series.Series